/* 
    Document   : cssindex
    Created on : 15/10/2013, 14:56:50
    Author     : Felipe
    Description:
        Purpose of the stylesheet follows.
*/

body {
    margin: 0px;
    padding: 0px;
}

#login {
    border: 1px solid silver;
    padding: 10px;
    
}
#login label {
    color: lime;
    font-size: 20px;
}
#login input {
    font-size: 20px;
    color: lime;
}
