/* 
    Document   : cssformulario
    Created on : 12/10/2013, 02:10:47
    Author     : Felipe
    Description:
        Purpose of the stylesheet follows.
*/

body{
    padding: 0px;
    margin: 0px;
}

